RewriteEngine On
ErrorDocument 400 /error/400
ErrorDocument 401 /error/401
ErrorDocument 403 /error/401
ErrorDocument 404 /error/404
ErrorDocument 405 /error/405
ErrorDocument 408 /error/408
ErrorDocument 429 /error/429
ErrorDocument 500 /error/500
ErrorDocument 502 /error/500

RewriteRule ^article/([0-9]+)$ /article.php?id=$1 [L]
RewriteRule ^error/([0-9]+)$ /error.php?id=$1 [L]
RewriteRule ^page/([0-9]+)$ /page.php?id=$1 [L]
RewriteRule ^panel/articles /a-list.php?type=articles [L]
RewriteRule ^panel/configuration /a-config.php [L]
RewriteRule ^panel/create/articles /a-createarticles.php [L]
RewriteRule ^panel/create/pages /a-createpages.php [L]
RewriteRule ^panel/delete/article/([0-9]+)$ /a-delete.php?type=articles&id=$1 [L]
RewriteRule ^panel/delete/page/([0-9]+)$ /a-delete.php?type=pages&id=$1 [L]
RewriteRule ^panel/edit/articles/([0-9]+)$ /a-editarticles.php?id=$1 [L]
RewriteRule ^panel/edit/pages/([0-9]+)$ /a-editpages.php?id=$1 [L]
RewriteRule ^panel/index /a-index.php [L]
RewriteRule ^panel/pages /a-list.php?type=pages [L]
RewriteRule ^space/([0-9]+)$ /space.php?id=$1 [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]