RewriteEngine On
ErrorDocument 403 /error/401
ErrorDocument 404 /error/404

<FilesMatch "\.tpl$">
Deny from all
</FilesMatch>

RewriteCond %{HTTP_REFERER} !^/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^/$ [NC]
RewriteCond %{HTTP_REFERER} !^/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^$ [NC]
RewriteRule .*\.(tpl)$ / [R,NC]